body {
  background-image: url(pictures/winter-day.jpeg);
  height: 100%;
  background-size: cover;
  display: flex;
  margin: 0;
  background-position: center;
  height: 100%;
  font: 16px/1.4 "Mulish", sans-serif;
  box-sizing: border-box;
}

:root {
  --min-width: 4rem;
}

/* CALENDAR REUSABLES */
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.j-c {
  justify-content: center;
}
.a-c {
  align-items: center;
}
.grid {
  display: grid;
}

/* CALENDAR */
.calendar-container {
  box-sizing: border-box;
  min-width: calc(var(--min-width) * 7);
  width: 70%;
  height: 100%;
  max-height: 55rem;
  margin: 1rem auto;
}

.cells-container {
  background-color: #ffffffd2;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr repeat(6, 2fr);
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  padding: 0.5rem;
  border-radius: 0 0 50px 50px;
  box-sizing: border-box;
}
.calendar-cell:hover:not(.today, .weekdays) {
  background-color: #59bb8a3f;
}
.calendar-cell {
  color: #1d1d1d;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  display: flex;
  padding: 0.5rem;
  min-height: 30px;
  transition: background-color 0.2s linear;
}

.todo-badge {
  background-color: rgba(255, 0, 0, 0.233);
  border-radius: 3px;
  width: 100%;
  height: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.calendar-header {
  height: 10rem;
  width: 100%;
  background-color: #32746d;
  color: whitesmoke;
  border-radius: 50px 50px 0 0;
}

.header-items {
  width: 50%;
  justify-content: space-evenly;
}
.month-year-text {
  font-size: 2rem;
}
.today {
  background-color: rgb(123, 171, 184);
}
.other-month {
  color: rgba(128, 128, 128, 0.726);
}
.arrows {
  cursor: pointer;
}
.arrows:hover {
  color: rgb(103, 189, 212);
}
p.holiday-text {
  color: rgb(167, 84, 84);
}
