body,
html {
  margin: 0;
  height: 100%;
}

:root {
  --min-width: 6rem;
}

/* REUSABLES */
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.j-c {
  justify-content: center;
}
.a-c {
  align-items: center;
}
.grid {
  display: grid;
}

.calendar-container {
  margin: auto;
  min-width: calc(var(--min-width) * 7);
  width: 80%;
  height: 100%;
}

.cells-container {
  background-color: #1d1d1d;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr repeat(6, 2fr);
  width: 100%;
  height: 100%;
}
.calendar-cell {
  color: white;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  min-width: var(--min-width);
  border-radius: 10px;
}
.calendar-cell > p {
 
}

.calendar-cell:hover {
  background-color: #ffffff4d;
}
.calendar-header {
  height: 10rem;
  width: 100%;
  min-width: var(--min-width);
  background-color: lightgreen;
}
.header-items {
  width: 50%;
  justify-content: space-evenly;
}
.month-year-text {
  font-size: 2rem;
}
.today {
  background-color: lightgreen;
}
.other-month {
  color: grey;
}
