body {
  background-image: url(/pictures/swedish-lapland-winter.jpeg);
  display: flex;
  background-size: cover;
  margin: 0;
  background-position: center;
  height: 100%;
  font: 16px/1.4 "Mulish", sans-serif;
  overflow-y: hidden;
}

:root {
  --min-width: 6rem;
}

/* REUSABLES */
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.j-c {
  justify-content: center;
}
.a-c {
  align-items: center;
}
.grid {
  display: grid;
}

.calendar-container {
  min-width: calc(var(--min-width) * 7);
  width: 70%;
  height: 60rem;
  margin: auto;
}

.cells-container {
  background-color: #1d1d1d;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr repeat(6, 2fr);
  width: 100%;
  height: 100%;
  padding-top: 2rem;
}
.calendar-cell {
  color: white;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  min-width: var(--min-width);
  border-radius: 3px;
  display: flex;
  padding: 0.5rem;
}

.calendar-cell p {
  margin-top: 1rem;
  color: #8995aa;
}

.calendar-cell:hover {
  background-color: #ffffff4d;
}
.calendar-header {
  height: 10rem;
  width: 100%;
  min-width: var(--min-width);
  background-color: #32746d;
  color: whitesmoke;
}
.header-items {
  width: 50%;
  justify-content: space-evenly;
}
.month-year-text {
  font-size: 2rem;
}
.today {
  background-color: rgb(123, 171, 184);
}
.other-month {
  color: grey;
}
.arrows {
  cursor: pointer;
}
.arrows:hover {
  color: rgb(103, 189, 212);
}
