
  @media (max-width: 375px) { 
    body {justify-content: center; align-items: center;}
    .calendar-container {display: none;}
    .welcome-segment {width: 80%;}
    #city {font-size: 2rem;}
    .location-time-weekday-div {align-items: center;}
    .todo-div {margin: 0;}
    .todo-element {min-height: 100%;}

  }