body,
html {
  margin: 0;
  height: 100%;
}
body {
  box-sizing: border-box;
  letter-spacing: 1px;
}
:root {
  --min-width: 6rem;
}

.align-center {
  align-items: center;
}

.time-div h3 {
  margin-right: 0.3rem;
}

.hide-degree {
  visibility: hidden;
}

.welcome-segment {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  height: 23rem;
}

.weather-data {
  position: relative;
  background-color: rgba(0, 0, 0, 0.39);
  display: flex;
  min-width: 12rem;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 4rem;
}

.city {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 100;
}

.location-time-weekday-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.temperature {
  display: flex;
  flex-direction: column;
}

.weather-icon {
  height: 2.5rem;
  margin-left: 1rem;
}

.hide-icon {
  display: none;
}

.degree {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.celsius {
  font-size: 1.2rem;
}
