.align-center {
  align-items: center;
}

.hide-degree {
  visibility: hidden;
}

.time-div h3 {
  margin-right: 0.5rem;
  font-weight: 100;
}

.time-div i {
  font-size: 1.2rem;
}

.time-div {
  margin-bottom: 0.5rem;
  margin-top: 0.3rem;
}

.hide-degree {
  visibility: hidden;
}

.logo {
  display: flex;
  justify-content: center;
  height: 10rem;
  align-items: center;
}

.welcome-segment {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  color: #8995aa;
  font: 16px/1.4 "Mulish", sans-serif;
  height: 100vh;
  width: 19rem;
  overflow-y: scroll;
}

.weather-data {
  position: relative;
  background-color: #161616;
  display: flex;

  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  padding-top: 0;
}

.city {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 400;
  color: #9ec5ab;
}

.location-time-weekday-div {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.temperature {
  display: flex;
  flex-direction: column;
}

.weather-icon {
  height: 3rem;
  margin-left: 1rem;
}

.hide-icon {
  display: none;
}

.degree {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  color: rgb(123, 171, 184);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.temperature-degree {
  font-weight: 100;
  margin: 0;
}

.celsius {
  font-size: 1.2rem;
}

.weekday {
  font-size: 1rem;
  font-weight: 100;
  color: #32746d;
  margin: 0;
}

.temperature-description {
  color: #8995aa;
  font-size: 0.8rem;
  align-self: center;
}
.title {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  border-bottom: rgba(95, 158, 160, 0.157) 0.5rem solid;
  color: rgba(255, 255, 255, 0.657);
  /* color: #32746d; */
  width: 40%;
}
