body,
html {
  margin: 0;
  height: 100%;
}
body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
:root {
  --min-width: 6rem;
}

.calendar-container {
  margin: auto;
  min-width: calc(var(--min-width) * 7);
  width: 80%;
  height: 100%;
}
.hide-degree {
  visibility: hidden;
}
.cells-container {
  background-color: #1d1d1d;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr repeat(6, 2fr);
  width: 100%;
  height: 100%;
}
.calendar-cell {
  color: white;
  justify-content: center;
  align-items: center;
  min-width: var(--min-width);
}
.calendar-header {
  height: 10rem;
  width: 100%;
  min-width: var(--min-width);
  background-color: lightgreen;
}
.header-items {
  width: 50%;
  border: 1px solid red;
  justify-content: space-evenly;
}
.month-year-text {
  font-size: 2rem;
}
.today {
  background-color: lightgreen;
}

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.j-c {
  justify-content: center;
}
.a-c {
  align-items: center;
}
.grid {
  display: grid;
}
/* STYLES FOR WELCOME SEGMENT BELOW */
.welcome-segment {
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: Arial, Helvetica, sans-serif;
  height: 20rem;
  overflow: hidden;
}

.winter {
  object-fit: cover;
  object-position: center;
}

.weather-data {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.39);
  height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 4rem;
  margin-left: 10rem;
}
.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.location h1,
.location p {
  margin: 0.5rem;
  color: whitesmoke;
}

.temperature {
  display: flex;
  flex-direction: column;
}

.weather-icon {
  height: 2.3rem;
  padding: 0;
  margin: 0 auto;
}

.hide-icon {
  display: none;
}

.degree {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: relative;
}

.degree span {
  font-size: 1.5rem;
}

.temperature h2,
.temperature div {
  margin: 0.5rem;
  color: whitesmoke;
}

/* Style the header */
.todo-header {
  background: #4ca1af; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c4e0e5,
    #4ca1af
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c4e0e5,
    #4ca1af
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 30px 40px;
  color: white;
  text-align: center;
}

h1 {
  font-family: "Acme", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

input {
  width: 75%;
  margin-right: 0;
  padding: 10px;
  border: none;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.addBtn {
  width: 25%;
  padding: 10px;
  margin-left: 0;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.addBtn:hover {
  background-color: #bbb;
  color: #fff;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 14px;
  transition: 0.2s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #b2bec3;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the trash button */
.far {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.far:hover {
  background-color: tomato;
  color: white;
}
